<div class="about-avatar">
  <img src="https://pic.gaficat.com/halo/avatar.jpg" class="img-fluid" alt="avatar" />
</div>

<div class="text-center">
  <div class="about-info">
    <div class="about-name">scarleast</div>
    <div class="about-intro">一只想法天马行空，行动极其缓慢的研究员,如果想给我留言，通过下面的方式联系我吧！</div>
    <div class="about-icons">
      <a class="about-icon about-icon-zhihu hint--bottom hint--rounded" target="_blank" rel="noopener" href="https://zhihu.com/people/scarleast" aria-label="知乎" title="知乎">
        <svg viewBox="0 0 24 24" aria-hidden="true">
          <path d="M4.6 5.4h7.7v2H9.1c-.1 1-.2 1.9-.4 2.8h4.1v2H8.2c-.6 2.1-1.7 4-3.1 5.7l-1.5-1.4c1.2-1.3 2-2.8 2.5-4.3H3.5v-2h3.1c.2-.9.4-1.8.5-2.8H4.6v-2Zm5.2 8.4c1.1 1 2.2 2.2 3.4 3.6l-1.6 1.4c-1-1.4-2.1-2.6-3.2-3.7l1.4-1.3Z" />
          <path d="M14.1 4.8h6.7v13.7h-6.7V4.8Zm2.1 2v9.7h2.5V6.8h-2.5Z" />
        </svg>
      </a>
      <a class="about-icon about-icon-email hint--bottom hint--rounded" target="_blank" rel="noopener" href="mailto:scarleast@hotmail.com" aria-label="邮箱" title="邮箱">
        <svg viewBox="0 0 24 24" aria-hidden="true">
          <path d="M4.8 6.5h14.4c.9 0 1.6.7 1.6 1.6v7.8c0 .9-.7 1.6-1.6 1.6H4.8c-.9 0-1.6-.7-1.6-1.6V8.1c0-.9.7-1.6 1.6-1.6Zm.7 2 6.5 4.6 6.5-4.6h-13Zm13.3 1.8-6 4.2a1.4 1.4 0 0 1-1.6 0l-6-4.2v5.1h13.6v-5.1Z" />
        </svg>
      </a>
    </div>
  </div>
</div>

<article class="about-content page-content mt-5">
  <div class="markdown-body">
    <h1><strong>我的梦想是什么？</strong></h1>
    <p>喜欢琢磨智能家居的实现，享受DIY过程的工科生，曾经自命不凡，以为可以像雷总一样，用科技改变生活，大富有不行，小富即安也是可以的撒。后来发现，在生活面前发现梦想是那么不堪一击，去他的梦想：“你是平凡人，你的父母是平凡人，你的子女也会是平凡人。不要去要求他们怎么样，如果可以的话，自己多努力吧~但是，你无论多么努力，你只可能比你父母的生活状态好百分之二十，想要实现阶级的跨越，需要至少三代人坚持不懈的努力。你甚至会发现，实现阶层跨越很难，但实现阶层跌落很容易。”</p>
    <p><strong>虽然生活中有很多的丧，但是，身为普通人的我们，过好自己的小生活就好啦！我们的焦虑和不开心，很多时候都是我们的收入和我们的欲望不成正比，学会知足常乐，我们会过的开心很多呀。</strong></p>

    <h1><strong>我的职业是什么？</strong></h1>
    <p>我在一家网络安全公司从事研究工作（后来发现所谓研究，其实就是大领导给你一个大方向，然后自己给自己找需求，找了需求自己去实现，实现了之后自己做PPT、写文章跟大家分享各种折腾经历），公司给了我一个响亮的title，<strong>“物联网安全研究猿”</strong>，虽然身处网络安全行业，却对信息安全了解甚少，娘的，没学过网络安全啊？怎么就给我招进来了。</p>

    <h1><strong>我的爱好是什么？</strong></h1>
    <ul>
      <li>我喜欢电子设计，DIY，虽然实现不了改变世界的梦想了，但自己折腾一些烂七八糟的东西还是可以的，希望能认识更多对电子设计感兴趣的小伙伴。啥？你问我做过什么？比如这个：<a href="https://sspai.com/post/56299" target="_blank" rel="noopener">朋克风格TVOC传感器</a>。</li>
      <li>喜欢弹钢琴，我喜欢石进的曲风。</li>
      <li>最喜欢听的节目：故事FM。</li>
      <li>最喜欢的作曲家：flamingheart。</li>
      <li>最喜欢的电视剧：绝命毒师、神探夏洛克、汉尼拔。</li>
      <li>最喜欢的歌手：金志文、关喆。</li>
    </ul>

    <h1><strong>维护本站的原因？</strong></h1>
    <p>我觉得每个人的经历都可以拍一部电影，看别人的故事是一件非常有意思的事，当然啦，对方要愿意分享。我喜欢看别人的故事，当然也愿意分享我的生活经历，也许我分享的经历无意间可以帮助或者鼓励到很多人呢？谁知道呢？</p>

    <h1><strong>本站分享的内容</strong></h1>
    <p>本站将分享各种电子设计DIY、物联网DIY、读书笔记、生活想法、流行钢琴、工作中遇到的问题（docker使用技巧、网络安全、python、网络协议）、建站技巧等等内容。刚刚开始维护，很多内容还没有来得及更新，其实从本站的名字——加菲猫的创客工坊，就可以看出，初期一定是想分享一些DIY、创客相关内容的。但是发现，电子设计需要大量的时间去折腾，我本人也比较懒，很难维持一个稳定的更新频率，所以索性将自己生活、工作中所有希望分享到内容都写到本站里面，毕竟两天一篇读书笔记的更新频率还是能维持的，我希望我的读书笔记，能成为茶余饭后的一种坛子。大家的时间都非常宝贵，所以我把这篇文章置顶，希望能让正在看本站的你，在不到一分钟的时间里面了解本站的内容，喜欢的呢，欢迎<a href="/atom.xml">RSS</a>订阅或者时不时的来踩一下，不喜欢的呢，就可以关闭这个网页了。现在很多东西都讲求流量，所以很多人都转战公众号之类的平台，但我本人有些反感公众号这种形式，它推送一堆乱七八糟的文章，我还是希望有一个本站这样的地方，可以自己排版，让你的页面清清爽爽，没有任何广告，静下心，沉淀一些内容出来。对于浏览本篇文章的你而言，需要的时候可以来逛逛，忙碌的时候，我就一直安安静静地在这里，不打扰你的生活，就酱。</p>

    <h1><strong>关于本站的故事</strong></h1>
    <p>其实说到写博客，最早的印象，应该是小学的同学录，那个时候小朋友们在文具店，从花花绿绿的同学录中挑一本自己喜欢的，然后把同学录一页一页发给自己希望继续交往的小伙伴们。同学录中需要填写的内容很多，有你最喜欢的人是谁？你的口头禅是什么？你未来最想从事的职业是什么？你希望对我说什么？当然啦，其中我觉得最不知道怎么填写的，就是——你的个人网站是什么？</p>
    <p>那么说起个人网站，就不得不提电脑了，毕竟那个时候智能手机不发达，写本站的前提，就是你要会用电脑。我对于电脑最早的印象应该是舅舅的笔记本电脑，我还依稀记得开机时windows98的画面，觉得这个洋玩意儿好神奇，也真的好贵。后来关于电脑的启蒙，应该是麻麻去参加一个考试，需要用到电脑，所以在学电脑的时候带上我，最吸引我的，当然还是玩游戏啦（这里其实挺内疚的，当时太喜欢玩游戏了，每次麻麻培训我都要粘着去，当然，我需要占用麻麻课时）。之后，小学开了信息技术（电脑）课，我不太记得清楚当时教的内容了，印象里也只有老师说，用百度搜索你想找的东西，需要想出关键词，然后用空格隔开。还记得有作业要用dreamware还是什么来着，做过一个网页，然后去找各种特效，那种鼠标放进去花花绿绿各种动画的，觉得好炫酷。当然了，大家最开心的环节，就是上课的时候，偷偷玩4399或者泡泡堂。虽然接触电脑还挺早的，但是小孩子嘛，兴趣点都在玩游戏上。喔，想到一个插曲，小时候爸爸为了防止我偷偷玩游戏，给家里的电脑设了密码，我还搜到了破解windows开机密码的程序，从此，爸爸知道我能破解开机密码，也就拿我没办法了。不知道这个事件是不是冥冥之中，暗示了我未来会进入网络安全行业。</p>
    <p>后来，上初中以后，我有了自己的第一个QQ号，2009年12月19日，我开通了QQ空间。2010年8月27日，我在空间中转载了一个视频，那是我第一篇在互联网中的文章，是当时大火的DNF，一个搞笑视频。2011年10月22日，我写了自己原创的第一篇文章，那个时候自己高二，遇到了自己喜欢女孩子，她的名字和她的人一样很仙，谐音“舞蹈”。像柯景腾和沈佳宜一样，柯景腾成绩差，沈佳宜成绩好。我成绩差，她成绩好。柯景腾坐在前面，沈佳宜坐在后面。我坐在前面，她坐在后面。我现在还记得当时上课特别专心，就怕自己上课做小动作被她看到，她不喜欢。也从天天早上去学校抄作业，变成了每天学习到很晚，第二天最早给她交作业的那个人。果然，那次期中考试，我进步很大，在犹豫要不要给她表白时，受到长辈们无形的影响，要好好学习，学业为重。于是在她生日的时候，我送给她了一份生日礼物。我还记得那个滑稽的画面，她按住嘴上说不，身体老实的我，把自己亲手做的寿司塞到我嘴里，我心里一边骂骂咧咧，一边觉得，嗯，虽然没什么味儿，但是好甜啊！！那份礼物是什么呢？精心挑选的贝壳项链、她喜欢想小说《七夜雪》以及一封信，信里说：“我喜欢你，我想和你在一起，但是我好矛盾，我选择了好好读书”。送了她礼物，整个人的心劲儿就卸下来了，她和另一个比我优秀的男生在一起了，看到他们一起放学回家，心里百感交集，便写下了自己的第一篇原创的文章，内容其实在记录自己当时的生活状态和想法，题目叫——《喜欢某个人，只需一小时；爱上某个人，只要一天；而忘却某些人，得用一生》，选自《读者》一篇文章的内容。当然啦，文章下面表哥、表姐、舅妈的鼓励，现在依然记录在那里。</p>
    <p><strong>2019年10月21日</strong>，又拍云发放了免费的流量，我正式开始维护自己的网站。<strong>是什么原因让我捡起这个东西呢？</strong>前段时间，看到一篇搭建图床的本站，想到自己写的文章很多的配图需要用公用图床，图床出了问题，自己文章的图片处理起来很麻烦，所以就想着自己搭一个图床。那么哪一家有免费的羊毛可以薅呢？我看中了又拍云，一个月15G的CDN流量和10G空间的免费额度，前提是什么？得有一个自己的网站，然后挂上又拍云里联盟的logo，所以就摸索着用hexo，搭了一个本站。</p>

    <h1><strong>尾巴</strong></h1>
    <p>维持写作，能让你收获（除了又拍云的15G流量和10G空间）什么呢？他确实会让你了解维护一个网站所需的很多东西，比如怎么选择好用的CDN、怎么设置301之类的跳转、怎么申请证书配置HTTPS、怎么向搜索引擎提交我们的本站。但最重要的，是让我们保持写作的习惯，是对自己思路的总结，鲁迅曾经说过：“好记性不如烂笔头，常动笔有助于预防老年痴呆”。当然啦，多年之后作为一种回忆，也是挺好的一种体验。</p>
    <p>我们应该写一些什么内容呢？我一开始和大多数从事IT行业的程序猿小哥哥一样，一开始只是希望自己写一些技术之类的文章，直到我看到了本站<a href="https://betacat.online/" target="_blank" rel="noopener">未上线的猫</a>。相比于他分享的一些技术文章，我发现他的年终总结，他记录回乡下被蜈蚣咬的经历显然更有意思。就像故事FM爱哲说的：“每个人的人生都是一部电影”，看把自己的生活分享出来，看看别人的生活，是一件很有意思的事情。</p>
    <p>有多少人，下定决心要维护自己的网站，选择了一个框架，hexo或者别的，精心挑选了一个主题，配置好自己的网站之后，就停留在了《hello world》。所以，我认为写博客不是写论文，写报告之类，而是一个真正属于自己的空间，在这个空间里面，你可以写任何的东西，可以是你读了一篇好文章，你生活中遇到了一个有意思的事情，你有一个什么天马行空的想象，你想吐槽一件什么事，你玩了一个好玩的什么游戏，任何东西都可以（当然，反动、违法的东西，还是三思，不然送时尚不锈钢手镯一副就亏了）。本站的行文不必那么规范，可以幽默一些，可以口语化一些，甚至是有一些语病，那有什么关系呢？反正没什么人看~哈哈哈哈！！</p>
    <p>最后，一个网站的死亡，不是没人看，而是不更新，比不更新更可怕的，是本站没办法访问。但愿所有看本站的你，早日升官发财呀！！！用牧宸的话结尾：“祝所有看到这篇文章的铁子们，又帅又有钱！！”</p>
  </div>
</article>
